<!-- Statistics of added figures -->

<div class="container text-center">
  <table class="table table-bordered table-hover">
    <caption>Statistics of added figures</caption>
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Type figures</th>
        <th scope="col">Percent of total area</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Circle</td>
        <td>100</td>
      </tr>
    </tbody>

  </table>
</div>

